<!DOCTYPE html>
<html>
<head>
	    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<!-- Google Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.13.0/css/mdb.min.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="style.css">

	<title>Sign in | Hack Up</title>
</head>

<body>
		<!-- Default form login -->
	<form class="col-md-4 mx-auto text-center border border-light p-5 signin" action="/signin" method="POST">

	    <p class="h4 mb-4">Sign in</p>
 
	    <!-- Email -->
	    <input type="email" id="defaultLoginFormEmail" name="username" class="form-control mb-4" placeholder="E-mail">

	    <!-- Password -->
	    <input type="password" id="defaultLoginFormPassword" name="password" class="form-control mb-4" placeholder="Password">

	    <div class="d-flex justify-content-around">
	        <div>
	            <!-- Remember me -->
	            <div class="custom-control custom-checkbox">
	                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
	                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
	            </div>
	        </div>
	        <div>
	            <!-- Forgot password -->
	            <a href="">Forgot password?</a>
	        </div>
	    </div>

	    <!-- Sign in button -->
	    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

	    <!-- Register -->
	    <p>Not a member?
	        <a href="/signup">Register</a>
	    </p>
	</form>
	<!-- Default form login -->


		    <!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.13.0/js/mdb.min.js"></script>

</body>
</html>